<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Account Settings</ion-title>
    <ion-back-button
      slot="start"
      color="light"
      defaultHref="home"
    ></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content color="">
  <form [formGroup]="changePasswordForm">
    <ion-grid>
      <ion-row color="justify-content-center">
        <ion-col
          class="ion-align-self-center"
          size-md="6"
          size-lg="5"
          size-xs="12"
        >
          <div class="ion-padding">
            <ion-item>
              <ion-label position="floating">Change Your Name</ion-label>
            <ion-input  name="name"
            formControlName="name"
            type="text"></ion-input>
            </ion-item>
          </div>
          <div class="ion-padding">
            <ion-button
              size="large"
              [disabled]="changePasswordForm.invalid"
              (click)="save()"
              color="primary"
              type="submit"
              expand="block"
              >Update &nbsp;<ion-spinner *ngIf="loading"></ion-spinner>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
