<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-card text-center class="hide-card" *ngIf="loggedIn">
          <img class="image" src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1214428300?b=1&k=6&m=1214428300&s=612x612&w=0&h=kMXMpWVL6mkLu0TN-9MJcEUx1oSWgUq8-Ny6Wszv_ms=" />
          <h2>{{ name | uppercase }}</h2>
          <p>{{ email }}</p>
          <hr>
      </ion-card>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">

            <ion-item
            *ngIf="!loggedIn && p?.title !== 'Logout' && p?.title !== 'Account' && p?.title !== 'Products'"
            [routerDirection]="'root'"
            [routerLink]="[p.url]"
          >
            <ion-icon slot="start" *ngIf="p?.icon" [name]="p.icon"></ion-icon>
            <ion-label>
              {{ p.title }}
            </ion-label>
          </ion-item>
          <ion-item
            *ngIf="loggedIn && p?.title !== 'Logout' "
            [routerDirection]="'root'"
            [routerLink]="[p.url]"
          >
            <ion-icon slot="start" *ngIf="p?.icon" [name]="p.icon"></ion-icon>
            <ion-label>
              {{ p.title }}
            </ion-label>
          </ion-item>
            <ion-item
              (click)="logout()"
              *ngIf="loggedIn && p?.title == 'Logout'"
            >
              <ion-icon *ngIf="p?.icon" slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
            
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet
      id="main-content"
      [swipeGesture]="false"
    ></ion-router-outlet>
  </ion-split-pane>
</ion-app>
