<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        [text]="'Cancel'"
        (click)="checkCancel()"
        defaultHref="mybooks"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="">
  <form [formGroup]="addNewBookForm">
    <ion-grid>
      <ion-row color="justify-content-center">
        <ion-col
          class="ion-align-self-center"
          size-md="6"
          size-lg="5"
          size-xs="12"
        >
          <div class="ion-text-center">
            <h3 *ngIf="!book">Add New Product</h3>
            <h3 *ngIf="book">Edit Product</h3>
          </div>

          <div class="ion-padding">
            <ion-item>
              <ion-input
                formControlName="name"
                type="text"
                placeholder="Product Name"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                formControlName="cprice"
                type="text"
                placeholder="Cost Price in Numbers"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                formControlName="sprice"
                type="text"
                placeholder="Sale Price in Numbers"
              ></ion-input>
            </ion-item>
          </div>

          <div class="ion-padding">
            <ion-button
              size="large"
              (click)="save()"
              color="primary"
              [disabled]="addNewBookForm.invalid"
              type="submit"
              expand="block"
              >SAVE ! &nbsp;<ion-spinner *ngIf="loading"></ion-spinner>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
